
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.sideBar {
    background-color: #003AC6;
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo {
    width: 65%;
    position: absolute;
    top: 20px;
    left: 25px;
}
.navLinks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px 0px;
    font-weight: 500;
    
    .navLinksSpan {
        font-size: 20px;
        height: auto;
        padding: 10px 0px;
        line-break: anywhere;
        cursor: pointer;
        color: #fff;
        transition: 0.4s;
    }

    .navLinksSpan:hover {
        background-color: #fff;
        color: #000;
        transition: 0.4s;
    }
}

.mainPart {
    width: 80%;
    height: 100%;
}

.plotContainer {
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plotSection {
    width: 95%;
    height: 80%;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.568) 0px 5px 15px;
    font-size: 50px;
}

.plotSection2 {
    width: 95%;
    height: 80%;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.568) 0px 5px 15px;
    font-size: 50px;
}
.plotSection3 {
    width: 95%;
    height: 80%;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.568) 0px 5px 15px;
    font-size: 50px;
}

.userIcon {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    border-radius: 100%;
    margin: 5px 10px;
    cursor: pointer;
}

.menu {
    position: absolute;
    width: 200px;
    top: 90px; /* Ajuste conforme necessário */
    right: 25px; /* Ajuste conforme necessário */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.menu p {
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
}

.menu p:hover {
    background-color: #f0f0f0;
}
